name: Daily Lunch Update

on:
  schedule:
    # Kör kl 07:30 UTC (vilket är 08:30 svensk tid)
    - cron: '30 7 * * 1-5'
  workflow_dispatch: # Tillåter att du kör den manuellt också

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4 python-telegram-bot

      - name: Run bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python lunch_bot.py
